[submodule "pack/airblade/start/vim-gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugged/vim-slime"]
	path = plugged/vim-slime
	url = https://github.com/jpalardy/vim-slime
